<form *ngIf="book" name="deleteForm" (ngSubmit)="confirmDelete(book.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="bookDeleteDialogHeading">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <p id="jhi-delete-book-heading">Are you sure you want to delete this Book?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;<span>Cancel</span>
    </button>

    <button id="jhi-confirm-delete-book" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <i class="fa fa-times" aria-hidden="true"></i>&nbsp;<span>Delete</span>
    </button>
  </div>
</form>
